bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
struct.txt
*.txt
# test images
*.png

# Problematic  test classes
ImageModifierTests.cs

# emacs files
*'#
docs
.fake
[Oo]bj/
[Bb]in/
.nuget/
_ReSharper.*
packages/
artifacts/
*.user
*.suo
*.userprefs
*DS_Store
*.sln.ide
build
spoof
1.png
